@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // ViewBag.Title = "Home Page";
}

@model WebApplication4.Models.Person

<h1>Hello from MVC!</h1>

<p>
    Your name is @Model.Name and you are @Model.AgeInYears years old.
</p>